<%= form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :title %><br>
		<%=f.text_field :title %>
	</p>
	<hr>
	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text %>
	</p>
	<hr>
	<p>
		<%= f.submit %>
	</p>
<% end %>